body {
    font-family: 'Cursive', sans-serif; /* A decorative font for a festive feel */
    margin: 0;
    padding: 0;
    background-color: #0d2d47; /* Dark Christmas Blue */
    color: #fff; /* White text */
}

/* Common Container Styles */
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 99, 102, 0.1); /* Christmas Red shadow */
    background-color: #205060; /* Christmas Greenish-Blue */
    transition: transform 0.3s ease-in-out;
}

    .container:hover {
        transform: scale(1.02);
    }

/* Header Styles */
h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ff6666; /* Christmas Red */
}

/* Navigation Link Styles */
.navlink {
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: #eee;
    text-decoration: none;
    border-radius: 5px;
    background-color: #4d4d4d; /* Dark grey */
    transition: background-color 0.3s ease-in-out;
}

    .navlink:hover {
        background-color: #cc0000; /* Darker Christmas Red on hover */
    }

/* Form Styles */
form {
    margin-bottom: 40px;
}

/* Input Styles */
input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #666; /* Medium grey */
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
    background-color: #4d4d4d; /* Dark grey */
    color: #e6e6e6; /* Light grey */
}

    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
        border-color: #ff6666; /* Christmas Red */
    }

    /* Submit Button Styles */
    input[type="submit"] {
        padding: 14px 22px;
        background-color: #ff6666; /* Christmas Red */
        color: #eee;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

        input[type="submit"]:hover {
            background-color: #cc0000; /* Darker Christmas Red on Hover */
            transform: scale(1.05);
        }

/* List Item Styles */
.listitem {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
    border: 2px solid #666; /* Medium grey */
    padding: 20px;
    background-color: #4d4d4d; /* Dark grey */
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

    .listitem a {
        text-decoration: none;
        color: #ff6666; /* Christmas Red */
    }

        .listitem a:hover {
            text-decoration: underline;
        }

    .listitem:hover {
        box-shadow: 0 0 15px rgba(255, 99, 102, 0.1); /* Christmas Red shadow */
        transform: scale(1.02);
    }

/* Special Container Styles */
#containershow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 600px;
    background-color: #205060; /* Christmas Greenish-Blue */
    gap: 20px;
}

#containerlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 900px;
    background-color: #205060; /* Christmas Greenish-Blue */
    box-shadow: 0 0 15px rgba(255, 99, 102, 0.2); /* Dark Christmas Red shadow */
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

    #containerlist:hover {
        transform: scale(1.02);
    }
